@import url("https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap");

body {
  font-family: "Sarala", sans-serif;
}

.overflow-wrap-anywhere {
  overflow-wrap: anywhere;
}

.rdt_TableCol_Sortable {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

::-webkit-scrollbar {
  width: 10px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #f2f2f2;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 100vh;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #656565;
}
